<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Signature Request Handler Servlet</servlet-name>
        <servlet-class>com.aaasec.sigserv.sigserver.RequestHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signature Servlet</servlet-name>
        <servlet-class>com.aaasec.sigserv.sigserver.SignatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test Identities Sign Server</servlet-name>
        <servlet-class>com.aaasec.sigserv.sigserver.TestIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signature Servlet</servlet-name>
        <url-pattern>/Sign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signature Request Handler Servlet</servlet-name>
        <url-pattern>/signAccept/SigRequest</url-pattern>
        <url-pattern>/SigRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test Identities Sign Server</servlet-name>
        <url-pattern>/testid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
