<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>Service Provider support service. This service generates signing requests and handles signing responses from a central signing service</description>
    <display-name>Central Signing SP Support service</display-name>
    <context-param>
        <description>Storage data directory</description>
        <param-name>DataDir</param-name>
        <param-value>/Library/Application Support/EidSigServer/SpSupport</param-value>
    </context-param>
    <context-param>
        <description>Max sign session length in minutes</description>
        <param-name>SignSessionMaxAge</param-name>
        <param-value>10</param-value>
    </context-param>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SpSupportServlet</servlet-name>
        <servlet-class>com.aaasec.sigserv.csspsupport.SpSupportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpSupportWs</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpSupportServlet</servlet-name>
        <url-pattern>/spsupport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpSupportWs</servlet-name>
        <url-pattern>/SpSupportWs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
